<div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <p>This is where the new home page layout will start!</p>
    <p>We could even render a new panel if we <i>really</i> want to</p>
    <p><i>or</i> we could call a Html.Action here as well</p>
</div>
